<div id="<%= dom_id(bid) %>">
Bids:
<%= bid.amount %>
User id:<%= bid.auction.user_id %>
<%= link_to "Delete", auction_bid_path(@auction, bid), method: :delete,
              class: "btn btn-sm btn-danger",
              data: {confirm: "Are you sure?"},
              remote: true %>
</div>
